Django==5.2.1
djangorestframework==3.16.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
dj-database-url==2.2.0
djangorestframework-simplejwt==5.4.0
Pillow==11.2.1
django-filter==25.1
drf-spectacular==0.27.2
django-cors-headers==4.7.0
gunicorn==22.0.0
google-auth==2.40.3
google-auth-oauthlib==1.1.0
requests==2.32.3
PyJWT==2.10.1
whitenoise==6.6.0
celery==5.3.4
redis==5.0.1
channels==4.0.0
channels-redis==4.1.0
cryptography==41.0.7
pyyaml==6.0.1
markdown==3.5.1
